{% extends 'administrator/layouts/admin_layout.html' %}
{% block content %}
    <div class="container">
        <div class="col-12">
            <div class="row mt-4">
                <div class="d-flex">
                    <div class="">
                        <h2>Booking Management</h2>
                    </div>
                    <div class="ms-auto p-2">
                        <form onsubmit="" action="{{ url_for('admin.booking_index_admin') }}" method="GET">
                            <div class="input-group mb-3">
                                <label for="datebook"></label>
                                <select id="datebook" name="datebook" class="form-select">
                                    <option value="" selected>Choose Booking Date</option>
                                    {% for _date_ in date_unique %}
                                        <option value="{{ _date_ }}">{{ _date_ }}</option>
                                    {% endfor %}
                                </select>
                                <label for="type_search"></label>
                                <select style="max-width: 7rem" id="type_search" name="type_search" class="form-select">
                                    <option value="doctor">Doctor</option>
                                    <option value="user_booking">User</option>
                                    <option value="note">Notes</option>
                                </select>
                                <label for="query_search"></label>
                                <input type="text" id="query_search"
                                       name="query_search" placeholder="Search"
                                       class="form-control">
                                <button type="submit" class="btn btn-outline-dark">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row d-flex mb-2">
                {% if not paginating == False %}
                    <div class="justify-content-center input-group">
                        {% if paginating.prev_page %}
                            <a class="btn btn-outline-dark" style="width: 64px" onclick="showLoadingSpinner();"
                               href="{{ url_for('admin.booking_index_admin', current=paginating.prev_page) }}">Prev</a>
                        {% endif %}
                        {% if paginating.next_page %}
                            <a class="btn btn-outline-dark" style="width: 64px" onclick="showLoadingSpinner();"
                               href="{{ url_for('admin.booking_index_admin', current=paginating.next_page) }}">Next</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <table class="table-design mb-2">
                <thead>
                <tr>
                    <th style="width: 7em; max-width: 9em;">Booking's Time</th>
                    <th style="width: 8em; max-width: 10em;">Booking's Date</th>
                    <th style="width: 8em; max-width: 10em;">User Booking</th>
                    <th style="width: 8em; max-width: 10em;">Booking's Doctor</th>
                    <th style="width: 7em; min-width: 7em;">Booking's Notes</th>
                    <th style="width: 4em; min-width: 6em;">Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.time }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.user_booking }}</td>
                        <td>{{ booking.doctor }}</td>
                        <td>{{ booking.note }}</td>
                        <td>
                            <button class="btn btn-outline-warning btn-sm" type="button" data-bs-toggle="modal"
                                    data-bs-target="#edit-{{ booking._id }}">
                                Edit
                            </button>
                        </td>
                    </tr>
                    <!-- Modal Update -->
                    <div class="modal fade" id="edit-{{ booking._id }}" tabindex="-1" aria-labelledby="updateModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="updateModalLabel">Edit Booking</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form method="POST" action="{{ url_for('admin.booking_edit_admin', _id=booking._id) }}">
                                    {{ form.csrf_token() }}
                                    <div class="modal-body">
                                        <div class="form-group">
                                            {{ form.doctor.label(class="form-control-label") }}
                                            {% if form.doctor.errors %}
                                                {{ form.doctor(class="form-control is-invalid") }}
                                                {% for error in form.doctor.errors %}
                                                    <div class="invalid-feedback">
                                                        <span>{{ error }}</span>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {{ form.doctor(class="form-control", value=booking.doctor) }}
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {{ form.date.label(class="form-control-label") }}
                                            {% if form.date.errors %}
                                                {{ form.date(class="form-control is-invalid") }}
                                                {% for error in form.date.errors %}
                                                    <div class="invalid-feedback">
                                                        <span>{{ error }}</span>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {{ form.date(class="form-control", value=booking.date) }}
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {{ form.time.label(class="form-control-label") }}
                                            {% if form.time.errors %}
                                                {{ form.time(class="form-control is-invalid") }}
                                                {% for error in form.time.errors %}
                                                    <div class="invalid-feedback">
                                                        <span>{{ error }}</span>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {{ form.time(class="form-control", value=booking.time) }}
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            {{ form.note.label(class="form-control-label") }}
                                            {% if form.note.errors %}
                                                {{ form.note(class="form-control is-invalid") }}
                                                {% for error in form.note.errors %}
                                                    <div class="invalid-feedback">
                                                        <span>{{ error }}</span>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {{ form.note(class="form-control", value=booking.note) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
