{% extends 'administrator/layouts/admin_layout.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div class="d-flex justify-content-center">
                    <h2>Admin dashboard</h2>
                </div>
                <div>
                    <table class="table" width="50%">
                        <thead>
                        <tr>
                            <th scope="col">Page</th>
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Booking management</td>
                            <td><a href="{{ url_for('admin.booking_index_admin') }}" class="btn btn-dark btn-sm">Booking</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
